<!--<kendo-grid [data]="revHistory">
  <kendo-grid-column field="versionNumber" title="Version"></kendo-grid-column>
  <kendo-grid-column field="actionBy" title="By"></kendo-grid-column>
  <kendo-grid-column field="action" title="Action"></kendo-grid-column>
  <kendo-grid-column field="actionDate" title="Date" format="{0: dd MMM yyyy}"></kendo-grid-column>
</kendo-grid>-->
<table class="table table-hover table-striped" border="0">
  <tr class="row">
    <td width="5%" align="center"><b>Version</b></td>
    <td>
      <table width="100%">
        <tr>
          <td width="15%" align="center"><b>Action</b></td>
          <td width="25%" align="center"><b>By</b></td>
          <td width="25%" align="center"><b>Date</b></td>
          <td width="35%" align="center"><b>Comments</b></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr *ngFor="let eachRev of revHistory" (click)="ViewVersion(eachRev.versionNumber);" class="row">
    <td width="5%" align="center">{{ eachRev.versionNumber }} </td>
    <td colspan="4">
      <table class="table table-striped table-hover" width="100%">
        <tr *ngFor="let eachAction of eachRev.actions">
          <td width="15%" align="center">{{ eachAction.action }}</td>
          <td width="25%" align="center">{{ eachAction.actionBy }}</td>
          <td width="25%" align="center">{{ eachAction.actionDate | date:"MMM dd, yyyy" }}</td>
          <td width="35%" align="center">{{ eachAction.comment }}</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
