
.contactSection {
  background-color: #f1f1f1;
}

.datesSection {
  background-color: antiquewhite;
}

#ratesSection {
  background-color: #f1f1f1;
}

.specialFeeSection {
  background-color: antiquewhite;
}

.classSection {
  background-color: #f1f1f1;
}

#commentsSection {
  background-color: antiquewhite;
}

