
.contactSection {
  background-color: none;
  /*  background-color: #f1f1f1; */
}

.datesSection {
  background-color: none;
  /*background-color: antiquewhite;*/
}

#ratesSection {
  background-color: none;
  /*background-color: #f1f1f1;*/
}

.specialFeeSection {
  background-color: none;
  /*background-color: antiquewhite;*/
}

.classSection {
  background-color: none;
  /*background-color: #f1f1f1;*/
}

#commentsSection {
  background-color: none;
  /*background-color: antiquewhite;*/
}

