/* You can add global styles to this file, and also import other style files */

/** Start of styles for Detail page  */
.contactSection {
  background-color: aliceblue;
}

.datesSection {
  background-color: antiquewhite;
}

.classSection {
  background-color: aquamarine;
}

.ratesSection {
  background-color: aliceblue;
}

.specialFeeSection {
  background-color: antiquewhite;
}

.commentsSection {
  background-color: aquamarine;
}

/** End of styles for Detail page  */




/** Start of styles for Diff page  */

.added {
  background-color: lightgreen;
}

.changed {
  background-color: yellow;
}

.deleted {
  background-color: rgb(252, 216, 217);
}

/** End of styles for Diff page  */
