<div id="rateFields">

    <h4 style="color:darkred;padding:0px;">Rates</h4>
    <hr style="border-color:darkred" />

    <div class="row">

      <div class="form-group col-md-6" id="rateTypeBox">

        <label for="rateType" class="col-md-5 control-label">
          Tuition Rate Type
        </label>
        <div class="col-md-7">
          <kendo-dropdownlist *ngIf="(termRates.length > 0)"
                              [(ngModel)]="session.rateType"
                              [data]="termRates"
                              [valueField]="'rateTypeCode'"
                              [textField]="'rateTypeDesc'"
                              style="width:225px;">
          </kendo-dropdownlist>
          &nbsp;<b><abbr title="Indicate the appropriate tuition rate type for this Session">&#9432;</abbr></b>
        </div>
      </div>

      <div class="form-group col-md-6" id="blankBox">
        <div class="col-md-6">&nbsp;</div>
        <div class="col-md-6">
          <div class="col-md-6"><b>Min</b></div>
          <div class="col-md-6"><b>Max</b></div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="form-group col-md-6" id="tuitionFlatRateBox">
        <label for="tuitionFlatRate" class="col-md-5 control-label">
          Tuition Amount Flat Rate
        </label>
        <div class="col-md-7">
          <kendo-numerictextbox id="tuitionFlatRate"
                                [(ngModel)]="session.rateType.rateTypeUnitRate"
                                [format]="'a0'"
                                [min]="0"
                                [spinners]="false">
          </kendo-numerictextbox>
          &nbsp;<b><abbr title="Tuition flat rate in dollars">&#9432;</abbr></b>
        </div>
      </div>

      <div class="form-group col-md-6" id="ugradFlatRateRangeBox">

        <label for="flatUnitsMin" class="col-md-6 control-label">
          <abbr title="Tuition flat rate range in units">Undergrad Flat Rate Range (units)</abbr>
        </label>

        <div class="col-md-6" style="align-items:center;">

          <kendo-numerictextbox id="flatUnitsMin"
                                [format]="'n0'"
                                [min]="1"
                                [max]="MAXUNITS - 1"
                                style="width:75px;">
          </kendo-numerictextbox>
          &nbsp;to&nbsp;

          <kendo-numerictextbox id="flatUnitsMax"
                                [format]="'n0'"
                                [min]="2"
                                [max]="MAXUNITS - 1"
                                style="width:75px;">
          </kendo-numerictextbox>

          &nbsp;<b><abbr title="Indicate the Undergraduate Flat Rate Unit Range.">&#9432;</abbr></b>
        </div>

      </div>

    </div>

    <div class="row">

      <div class="form-group col-md-6" id="tuitionPerUnitBox">

        <label for="tuitionUnitRate" class="col-md-5 control-label">
          Tuition Amount per Unit
        </label>

        <div class="col-md-7">

          <kendo-numerictextbox id="tuitionUnitRate"
                                [(ngModel)]="session.rateType.rateTypeFlatRate"
                                [format]="'a0'"
                                [min]="0"
                                [spinners]="false">
          </kendo-numerictextbox>
          &nbsp;<b><abbr title="Tuition per unit rate in dollars">&#9432;</abbr></b>

        </div>
      </div>

      <div class="form-group col-md-6" id="gradFlatRateRangeBox">

        <label for="gradFlatUnitsMin" class="col-md-6 control-label">
          <abbr title="Tuition flat rate in dollars">Graduate Flat Rate Range (units)</abbr>
        </label>

        <div class="col-md-6" style="align-items:center;">

          <kendo-numerictextbox id="gradFlatUnitsMin"
                                [format]="'n0'"
                                [min]="1"
                                [max]="MAXUNITS - 1"
                                style="width:75px;">
          </kendo-numerictextbox>

          &nbsp;to&nbsp;

          <kendo-numerictextbox id="gradFlatUnitsMax"
                                [format]="'n0'"
                                [min]="2"
                                [max]="MAXUNITS - 1"
                                style="width:75px;">
          </kendo-numerictextbox>
          &nbsp;<b><abbr title="Indicate the Graduate Flat Rate Unit Range.">&#9432;</abbr></b>
        </div>
      </div>
    </div>
  </div>
