
  <br />
  <div class="row">

    <div class="form-group col-md-6" id="semesterBox">

      <label for="semester" class="col-md-6 control-label">
        <abbr title="Session semester being applied for">For Semester</abbr>
      </label>

      <div class="col-md-6" style="vertical-align: bottom;">
        <select class="form-control" [(ngModel)]="session.academicTerm">
          <option *ngFor="let eachSem of semesters" value="{{ eachSem.semCode }}">
            {{ eachSem.semName }}
          </option>
        </select>
      </div>

    </div>

    <div class="form-group col-md-6" id="sessionCodeBox">

      <label for="sessCode" class="col-md-6 control-label">
        <abbr title="Enter the 3-digit code that was used for this session previously. If you do not know the Session Code assigned to this academic program, or if the special program is new, please leave this field blank">
          Session Code
        </abbr>
      </label>

      <div class="col-md-6">
        <input class="form-control" id="sessionCode" name="sessionCode" maxlength="4" style="width:150px;" />
      </div>
    </div>

  </div>

  <div class="row">

    <div class="form-group col-md-6" id="firstDayClassBox">
      <label for="classesStartDate" class="col-md-6 control-label">
        <abbr title="Session Start Date">First Day of Classes</abbr>
      </label>
      <div class="col-md-6">
        <input id="classStartDate" name="classStartDate" maxlength="10" />
      </div>
    </div>

    <div class="form-group col-md-6" id="lastDayClassBox">
      <label for="classesEndDate" class="col-md-6 control-label">
        <abbr title="Session End Date">Last Day of Classes</abbr>
      </label>
      <div class="col-md-6">
        <input id="classEndDate" name="classEndDate" maxlength="10" />
      </div>
    </div>

  </div>

  <div class="row">

    <div class="form-group col-md-6" id="firstDayFinalsBox">
      <label for="finalsStartDate" class="col-md-6 control-label">
        <abbr title="Finals Start Date">First Day of Finals</abbr>
      </label>
      <div class="col-md-6">
        <kendo-dateinput id="finalsStartDate" name="finalsStartDate"></kendo-dateinput>
      </div>
    </div>

    <div class="form-group col-md-6" id="lastDayFinalsBox">
      <label for="finalsEndDate" class="col-md-6 control-label">
        <abbr title="Session End Date">Last Day of Finals</abbr>
      </label>
      <div class="col-md-6">
        <input id="finalsEndDate" name="finalsEndDate" maxlength="10" />
      </div>
    </div>

  </div>

  <div class="row">

    <div class="form-group col-md-6" id="rateTypeBox">
      <label for="rateType" class="col-md-6 control-label">
        <abbr title="Indicate the appropriate tuition rate type for this Session">Tuition Rate Type</abbr>
      </label>
      <div class="col-md-6">
        <select class="form-control" id="rateType" name="rateType">
          <option *ngFor="let eachRate of termRates" value="{{ eachRate.rateTypeCode }}">{{ eachRate.rateTypeDesc }}</option>
        </select>
      </div>
    </div>

    <div class="form-group col-md-6" id="blankBox">
      &nbsp;
    </div>

  </div>

  <div class="row">

    <div class="form-group col-md-6" id="tuitionFlatRateBox">
      <label for="tuitionFlatRate" class="col-md-6 control-label">
        <abbr title="Tuition flat rate in dollars">Tuition Amount Flat Rate ($)</abbr>
      </label>
      <div class="col-md-6">
        <input type="text" class="form-control" id="tuitionFlatRate" name="tuitionFlatRate" />
      </div>
    </div>

    <div class="form-group col-md-6" id="ugradFlatRateRangeBox">
      <label for="flatUnitsMin" class="col-md-6 control-label">
        <abbr title="Tuition flat rate in dollars">Undergrad Flat Rate Range (units)</abbr>
      </label>
      <div class="col-md-6" style="align-items:center;">
        <input id="flatUnitsMin" name="flatUnitsMin" type="number" min="1" max="{{ MAXUNITS - 1 }}" class="form-control" style="width:60px;display:inline;" />
        &nbsp;to&nbsp;
        <input id="flatUnitsMax" name="flatUnitsMax" type="number" min="2" max="{{ MAXUNITS }}" class="form-control" style="width:60px;display:inline;" />
      </div>
    </div>

  </div>

  <div class="row">

    <div class="form-group col-md-6" id="tuitionPerUnitBox">

      <label for="tuitionUnitRate" class="col-md-6 control-label">
        <abbr title="Tuition per unit rate in dollars">Tuition Amount per Unit ($)</abbr>
      </label>
      <div class="col-md-6">
        <input type="text" class="form-control" [(ngModel)]="this.session.ratePerUnitAmount" (input)="AllowNumbersOnly($event.target.value);" />
      </div>
    </div>

    <div class="form-group col-md-6" id="gradFlatRateRangeBox">
      <label for="gradFlatUnitsMin" class="col-md-6 control-label">
        <abbr title="Tuition flat rate in dollars">Graduate Flat Rate Range (units)</abbr>
      </label>
      <div class="col-md-6" style="align-items:center;">
        <input id="gradFlatUnitsMin" name="gradFlatUnitsMin" type="number" min="1" max="{{ MAXUNITS - 1 }}" class="form-control" style="width:60px;display:inline;" />
        &nbsp;to&nbsp;
        <input id="gradFlatUnitsMax" name="gradFlatUnitsMax" type="number" min="2" max="{{ MAXUNITS }}" class="form-control" style="width:60px;display:inline;" />
      </div>
    </div>

  </div>

  <div class="row" style="margin-left: auto; margin-right: auto;" id="addButtonsSection">
    <div class="col-md-4">
      <button class="form-control uscGoldButton" value="Add Session Breaks" (click)="AddSessionBreak();">
        Add Session Break
      </button>
    </div>
    <div class="col-md-4">
      <button class="form-control uscGoldButton" value="Add Special Fees" (click)="AddSpecialFee();">
        Add Special Fee
      </button>
    </div>
    <div class="col-md-4">
      <button class="form-control uscGoldButton" value="Add Class Locations" (click)="AddClassLocation();">
        Add Class Location
      </button>
    </div>
  </div>

  <!--  Session Breaks section -->
  <div *ngIf="session.sessionBreaks.length" class="Breaks">

    <div class="row" style="align-self:center;color:#ffcc00;">
      <div class="col-md-1">
      </div>
      <div class="col-md-4" style="text-align:center;">
        <h4>Break Start</h4>
      </div>
      <div class="col-md-4" style="text-align:center;">
        <h4>Break End</h4>
      </div>
      <div class="col-md-3">
        &nbsp;
      </div>
    </div>

    <div class="row" style="align-items:center;padding-bottom:5px;" *ngFor="let eachBreak of session.sessionBreaks">

      <div class="col-md-1" style="text-align:right;">
      </div>
      <div class="col-md-4" style="align-self:center;">
        <input class="form-control" type="text" value='{{ eachBreak.startDate | date:"MMM dd, yyyy" }}' />
      </div>
      <div class="col-md-4" style="align-self:center;">
        <input class="form-control" type="text" value='{{ eachBreak.endDate | date:"MMM dd, yyyy" }}' />
      </div>
      <div class="col-md-3" style="align-self:center;">
        <a href="javascript:;" class="uscRedButton" title="Delete this Semester Break" (click)="session.sessionBreaks.splice(index,1);">
          [X] Remove this Break
        </a>
      </div>
    </div>

  </div>
  <!-- End of Session Breaks Section -->
  <!-- Start of Special Fees Section -->
  <div class="Fees" *ngIf="session.specialFees.length">

    <div class="row" style="align-self:center;">
      <div class="col-md-1"></div>
      <h4 class="col-md-5">Special Fee</h4>
      <h4 class="col-md-2">Amount</h4>
      <h4 class="col-md-2">Assessed to</h4>
      <h4 class="col-md-2"></h4>
    </div>
    <div class="row" *ngFor="let eachFee of session.specialFees">
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <select class="form-control" id="sFeeCode" name="sFeeCode" *ngIf="(SpecialFeeList.length)">
          <option *ngFor="let eachFee of SpecialFeeList" value="{{ eachFee.substring(0, eachFee.indexOf(' ')) }}">{{ eachFee }}</option>
        </select>
      </div>
      <div class="col-md-2">
        <input type="text" maxlength="4" numbers-only class="form-control" />
      </div>
      <div class="col-md-2">
        <select class="form-control">
          <option value=""></option>
          <option value="G">Graduate</option>
          <option value="U">Undergraduate</option>
          <option value="B">All</option>
        </select>
      </div>
      <div class="col-md-2">
        <a href="javascript:;" class="uscRedButton" title="Delete this Special Fee" (click)="DeleteThisFee(index, eachFee.feeCode);">
          [X] Remove this Fee
        </a>
      </div>
    </div>
  </div>
  <!-- End of Special Fees Section -->
  <!-- Start of Class Locations Section -->
  <div *ngIf="session.classLocations.length" class="Locations">

    <div class="row" style="align-self:center;">
      <div class="col-md-4" style="text-align:center;">
        <h4>Campus</h4>
      </div>
      <div class="col-md-3" style="text-align:center;">
        <h4>Start Date</h4>
      </div>
      <div class="col-md-3" style="text-align:center;">
        <h4>End Date</h4>
      </div>
      <div class="col-md-2">
        &nbsp;
      </div>
    </div>
    <div class="row" style="align-items:center;padding-bottom:5px;" *ngFor="let eachLocation of session.classLocations">

      <div class="col-md-4">
        <select class="form-control" id="campusCode" name="campusCode" *ngIf="(UscCampuses.length)" style="width: 250px; margin-left:50px;">
          <option *ngFor="let eachCampus of UscCampuses" value="{{ eachCampus.campusCode }}">{{ eachCampus.campusName }}</option>
        </select>
      </div>
      <div class="col-md-3" style="align-self:center;">
        <input class="form-control" type="text" value='{{ eachLocation.startDate | date:"MMM dd, yyyy" }}' />
      </div>
      <div class="col-md-3" style="align-self:center;">
        <input class="form-control" type="text" value='{{ eachLocation.endDate | date:"MMM dd, yyyy" }}' />
      </div>
      <div class="col-md-2" style="align-self:center;">
        <a href="javascript:;" class="uscRedButton" title="Delete this Class Location" (click)="session.classLocations.splice(index,1);">
          [X] Remove this Location
        </a>
      </div>
    </div>
  </div>
  <!-- End of Class Locations Section -->
    <label>
      <span class="label">Start</span>
      <kendo-dateinput [value]="newDate"></kendo-dateinput>
    </label>
    <label>
      <span class="label">End</span>
      <kendo-dateinput [value]="rangeEnd"></kendo-dateinput>
    </label>

      <br />
      <!--<div class="row" style="align-content:center;">
    <div class="col-md-5 red" style="text-align: center;">
      <h4><b>{{ formError }}</b></h4>
    </div>
    <div class="col-md-2">
      <input type="submit" class="form-control uscRedButton" (click)="SubmitForm();" value="Submit" />
    </div>
    <div class="col-md-5">
    </div>
  </div>-->
