<kendo-grid [data]="sessionRequestList" [height]="410">
  <kendo-grid-column field="term" title="Term"></kendo-grid-column>
  <kendo-grid-column field="sessionCode" title="Session Code"></kendo-grid-column>
  <kendo-grid-column field="status" title="Status"></kendo-grid-column>
  <kendo-grid-column field="owner" title="Owner"></kendo-grid-column>
  <kendo-grid-column field="lateChange" title="Late Change">
    <ng-template kendoGridCellTemplate let-dataItem>
      <input type="checkbox" [checked]="dataItem.lateChange" disabled />
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="ownerChanged" title="Owner Changed">
    <ng-template kendoGridCellTemplate let-dataItem>
      <input type="checkbox" [checked]="dataItem.ownerChanged" disabled />
    </ng-template>
  </kendo-grid-column>
</kendo-grid>

