<kendo-grid [data]="gridData"
            [sort]="state.sort"
            [filter]="state.filter"
            [sortable]="true"
            [pageable]="false"
            [selectable]="true"
            [kendoGridSelectBy]="'versionNumber'"
            [selectedKeys]="mySelection"
            (selectionChange)="dataSelectionChange($event)"
            (dataStateChange)="dataStateChange($event)">
  <kendo-grid-column field="versionNumber" title="Version Number"></kendo-grid-column>
  <kendo-grid-column field="action" title="Action"></kendo-grid-column>
  <kendo-grid-column field="actionBy" title="Action By"></kendo-grid-column>
  <kendo-grid-column field="actionDate" title="Action Date" format="{0: dd MMM yyyy}"></kendo-grid-column>
</kendo-grid>
