<kendo-grid [data]="gridData"
            [pageSize]="state.take"
            [skip]="state.skip"
            [sort]="state.sort"
            [filter]="state.filter"
            [sortable]="true"
            [pageable]="true"
            (dataStateChange)="dataStateChange($event)">
  <kendo-grid-column field="versionNumber" title="Version Number"></kendo-grid-column>
  <kendo-grid-column field="action" title="Action"></kendo-grid-column>
  <kendo-grid-column field="actionBy" title="Action By"></kendo-grid-column>
  <kendo-grid-column field="actionDate" title="Action Date"></kendo-grid-column>
</kendo-grid>
