

<div class="row">
  <div id="needAction" class="col-md-4" style="background-color: deeppink;">
    <h3>Requests that needs your Approval</h3>
    <table class="table table-bordered table-hover" style="height: 100%; background-color: white;">
      <tr>
        <th>Request ID</th>
        <th>Session Code</th>
        <th>Term</th>
        <th>Department</th>
      </tr>
      <tr *ngFor="let eachSub of submissions">
        <td>{{ eachSub.submissionId }}</td>
        <td>{{ eachSub.session.sessionCode }}</td>
        <td>{{ eachSub.session.academicTerm }}</td>
        <td>{{ eachSub.session.owningDepartment }}</td>
      </tr>
    </table>
  </div>
  <div id="yourRequests" class="col-md-4" style="background-color: lightblue; height: 100%;">
    <h3>Requests that you Initiated or Modified</h3>
    <table class="table table-bordered table-hover" style="height: 100%; background-color: white;">
      <tr>
        <th>Request ID</th>
        <th>Session Code</th>
        <th>Term</th>
        <th>Department</th>
      </tr>
      <tr *ngFor="let eachSub of submissions">
        <td>{{ eachSub.submissionId }}</td>
        <td>{{ eachSub.session.sessionCode }}</td>
        <td>{{ eachSub.session.academicTerm }}</td>
        <td>{{ eachSub.session.owningDepartment }}</td>
      </tr>
    </table>
  </div>
  <div id="deptRequests" class="col-md-4" style="background-color:  antiquewhite; height: 100%;">
    <h3>Requests created by your Department</h3>
    <table class="table table-bordered table-hover" style="height: 100%; background-color: white;">
      <tr>
        <th>Request ID</th>
        <th>Session Code</th>
        <th>Term</th>
        <th>Department</th>
      </tr>
      <tr *ngFor="let eachSub of submissions">
        <td>{{ eachSub.submissionId }}</td>
        <td>{{ eachSub.session.sessionCode }}</td>
        <td>{{ eachSub.session.academicTerm }}</td>
        <td>{{ eachSub.session.owningDepartment }}</td>
      </tr>
    </table>
  </div>
</div>
