<div class="row">
  <div class="col-md-3 pointer">
    <a (click)="ChangeDisplayedList(QUEUE.MYATTENTION)"><h5>- <b>Needs my Attention</b></h5></a>
    <a (click)="ChangeDisplayedList(QUEUE.DEPTREQUESTS)"><h5>- <b>My Department's Requests</b></h5></a>
    <a (click)="ChangeDisplayedList(QUEUE.ALLPENDING)"><h5>- <b>All Pending Requests</b></h5></a>
    <a href="request-form"><h5>- <b>Create New Requests</b></h5></a>
  </div>
  <div class="col-md-9">
    <kendo-grid [data]="displayQueue"
                [filterable]="true"
                [pageable]="{buttonCount: 5, info:false}"
                [reorderable]="true"
                [resizable]="true"
                [sortable]="true"
                [selectable]="true"
                (selectionChange)="RowClicked($event)">
      <kendo-grid-column title="Term" field="term"></kendo-grid-column>
      <kendo-grid-column title="Session" field="sessionCode"></kendo-grid-column>
      <kendo-grid-column title="Status" field="status"></kendo-grid-column>
      <kendo-grid-column title="Owner" field="owner"></kendo-grid-column>
      <kendo-grid-column title="Late Change" field="lateChange">
        <!--<ng-template kendoGridCellTemplate let-dataItem>
          <input type="checkbox" [checked]="dataItem.lateChange" disabled />
        </ng-template>-->
      </kendo-grid-column>
      <kendo-grid-column title="Owner Changed" field="ownerChanged">
        <!--<ng-template kendoGridCellTemplate let-dataItem>
          <input type="checkbox" [checked]="dataItem.ownerChanged" disabled />
        </ng-template>-->
      </kendo-grid-column>
    </kendo-grid>
  </div>
</div>
