<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Diff Page</title>
  <!-- CHANGED DELETED ADDED -->
  <style>

    .added {
      background-color: lightgreen;
    }

    .changed {
      background-color: yellow;
    }

    .deleted {
      background-color: rgb(252, 216, 217);
    }
  </style>

</head>

<body>
  <div class="row">
    <table class="table table-hover">
      <tr>
        <th>Field Name</th>
        <th>Current Value</th>
        <th>Previous Value</th>
      </tr>
      <tr>
        <th>Academic Term</th>
        <td>{{ currSess.academicTerm }}</td>
        <td>{{ prevSess.academicTerm }}</td>
      </tr>
      <tr>
        <th>Session Code</th>
        <td>{{ currSess.sessionCode }}</td>
        <td>{{ prevSess.sessionCode }}</td>
      </tr>
      <tr>
        <th>Owning School</th>
        <td>{{ currSess.owningSchool }}</td>
        <td>{{ prevSess.owningSchool }}</td>
      </tr>
      <tr>
        <th>Owning Department</th>
        <td>{{ currSess.owningDepartment }}</td>
        <td>{{ prevSess.owningDepartment }}</td>
      </tr>
      <tr>
        <th>User Contact</th>
        <td>{{ currSess.userContact }}</td>
        <td>{{ prevSess.userContact }}</td>
      </tr>
      <tr>
        <th>User Email</th>
        <td>{{ currSess.userEmail }}</td>
        <td>{{ prevSess.userEmail }}</td>
      </tr>
      <tr>
        <th>User Phone</th>
        <td>{{ currSess.userPhone }}</td>
        <td>{{ prevSess.userPhone }}</td>
      </tr>
      <tr>
        <th>First Day of Class</th>
        <td>{{ currSess.firstDayOfClass | date:"MMM dd, yyyy"  }}</td>
        <td>{{ prevSess.firstDayOfClass | date:"MMM dd, yyyy"  }}</td>
      </tr>
      <tr>
        <th>Last Day of Class</th>
        <td>{{ currSess.lastDayOfClass | date:"MMM dd, yyyy"  }}</td>
        <td>{{ prevSess.lastDayOfClass | date:"MMM dd, yyyy"  }}</td>
      </tr>
      <tr>
        <th>Last Day for Adding/Dropping Classes</th>
        <td>{{ currSess.lastDayForAddDrop | date:"MMM dd, yyyy"  }}</td>
        <td>{{ prevSess.lastDayForAddDrop | date:"MMM dd, yyyy"  }}</td>
      </tr>
      <tr>
        <th>Last Day for Class Withdrawal</th>
        <td>{{ currSess.lastDayForWithdrawal | date:"MMM dd, yyyy"  }}</td>
        <td>{{ prevSess.lastDayForWithdrawal | date:"MMM dd, yyyy"  }}</td>
      </tr>
      <tr>
        <th>First Day of Finals</th>
        <td>{{ currSess.firstDayOfFinals | date:"MMM dd, yyyy"  }}</td>
        <td>{{ prevSess.firstDayOfFinals | date:"MMM dd, yyyy"  }}</td>
      </tr>
      <tr>
        <th>Last Day of Finals</th>
        <td>{{ currSess.lastDayOfFinals | date:"MMM dd, yyyy"  }}</td>
        <td>{{ prevSess.lastDayOfFinals | date:"MMM dd, yyyy"  }}</td>
      </tr>
      <tr>
        <th>First Day for Final Grading</th>
        <td>{{ currSess.firstDayForFinalGrading | date:"MMM dd, yyyy"  }}</td>
        <td>{{ prevSess.firstDayForFinalGrading | date:"MMM dd, yyyy"  }}</td>
      </tr>
      <tr>
        <th>Last Day for Final Grading</th>
        <td>{{ currSess.lastDayForFinalGrading | date:"MMM dd, yyyy"  }}</td>
        <td>{{ prevSess.lastDayForFinalGrading | date:"MMM dd, yyyy"  }}</td>
      </tr>
      <tr>
        <th>Rate Type</th>
        <td class="changed">{{ currSess.rateType }}</td>
        <td class="changed">{{ prevSess.rateType }}</td>
      </tr>
      <tr>
        <th>Rate Per Unit Amount</th>
        <td>{{ currSess.ratePerUnitAmount }}</td>
        <td>{{ prevSess.ratePerUnitAmount }}</td>
      </tr>
      <tr>
        <th>Flat Rate Amount</th>
        <td>{{ currSess.flatRateAmount }}</td>
        <td>{{ prevSess.flatRateAmount }}</td>
      </tr>
      <tr>
        <th>Undergraduate Flat Rate Units (Min.)</th>
        <td>{{ currSess.flatRateUnitsMin }}</td>
        <td>{{ prevSess.flatRateUnitsMin }}</td>
      </tr>
      <tr>
        <th>Undergraduate Flat Rate Units (Max.)</th>
        <td>{{ currSess.flatRateUnitsMax }}</td>
        <td>{{ prevSess.flatRateUnitsMax }}</td>
      </tr>
      <tr>
        <th>Graduate Flat Rate Units (Min.)</th>
        <td>{{ currSess.gradFlatRateUnitsMin }}</td>
        <td>{{ prevSess.gradFlatRateUnitsMin }}</td>
      </tr>
      <tr>
        <th>Graduate Flat Rate Units (Max.)</th>
        <td>{{ currSess.gradFlatRateUnitsMax }}</td>
        <td>{{ prevSess.gradFlatRateUnitsMax }}</td>
      </tr>
      <tr>
        <td>
          <table class="table table-bordered">
            <tr>
              <td align="center" colspan="3">
                <b>Class Locations</b>
              </td>
            </tr>
            <tr>
              <th>Class Location</th>
              <th>Start Date</th>
              <th>End Date</th>
            </tr>
          </table>
        </td>
        <td>
          <table class="table table-bordered">
            <tr *ngFor="let eachLoc of currSess.classLocations">
              <td class="changed">{{ eachLoc.location }}</td>
              <td class="changed">{{ eachLoc.startDate | date:"MMM dd, yyyy" }}</td>
              <td class="changed">{{ eachLoc.endDate | date:"MMM dd, yyyy" }}</td>
            </tr>
          </table>
        </td>
        <td>
          <table class="table table-hover">
            <tr *ngFor="let eachLoc of prevSess.classLocations">
              <td class="changed">{{ eachLoc.location }}</td>
              <td class="changed">{{ eachLoc.startDate | date:"MMM dd, yyyy" }}</td>
              <td class="changed">{{ eachLoc.endDate | date:"MMM dd, yyyy" }}</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <table class="table table-bordered">
            <tr>
              <td colspan="3" align="center">
                <b>Special Fees</b>
              </td>
            </tr>
            <tr>
              <th>Fee Code</th>
              <th>Amount</th>
              <th>Assessed To</th>
            </tr>
          </table>
        </td>
        <td>
          <table class="table table-bordered">
            <tr *ngFor="let eachFee of currSess.specialFees">
              <td>{{ eachFee.feeCode }}</td>
              <td>{{ eachFee.amount }}</td>
              <td>{{ eachFee.assessedTo }}</td>
            </tr>
          </table>
        </td>
        <td>
          <table class="table table-bordered">
            <tr *ngFor="let eachFee of prevSess.specialFees">
              <td class="deleted">{{ eachFee.feeCode }}</td>
              <td class="deleted">{{ eachFee.amount }}</td>
              <td class="deleted">{{ eachFee.assessedTo }}</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <table class="table table-bordered">
            <tr>
              <td align="center" colspan="2">
                <b>Session Breaks</b>
              </td>
            </tr>
            <tr>
              <th>Begin Date</th>
              <th>End Date</th>
            </tr>
          </table>
        </td>
        <td>
          <table class="table table-bordered">
            <tr *ngFor="let eachBreak of currSess.sessionBreaks">
              <td class="added">{{ eachBreak.startDate | date:"MMM dd, yyyy"  }}</td>
              <td class="added">{{ eachBreak.endDate | date:"MMM dd, yyyy"  }}</td>
            </tr>
          </table>
        </td>
        <td>
          <table class="table table-bordered">
            <tr *ngFor="let eachBreak of prevSess.sessionBreaks">
              <td>{{ eachBreak.startDate | date:"MMM dd, yyyy"  }}</td>
              <td>{{ eachBreak.endDate | date:"MMM dd, yyyy"  }}</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <th>Comments</th>
        <td>{{ currSess.comments }}</td>
        <td>{{ prevSess.comments }}</td>
      </tr>
    </table>
  </div>
</body>
</html>
