/** Start of styles for Diff page  */

/*  Start of body style */
header {
  background-color: #990000;
  padding-bottom: 0px;
}

footer {
  background-color: #d3d2cc;
  padding-top: 15px;
  padding-bottom: 15px;
}

h1 {
  margin-left: -15px;
}
h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}


body #top-banner .container,
body div#header .container {
  padding: 0;
}

body #top-banner {
  width: 100%;
  /*  background-color: #790202; */
  font-family: 'Gudea', sans-serif;
  font-size: 15px;
  line-height: 12px;
  min-height: 30px;
  padding: 7px;
  color: white;
}

body #top-banner strong {
    color: #ffcc00;
}

.navbar-header {
  position: relative;
  width: 60px;
  float: right;
  top: -10px;
}

body #top-banner .navbar-nav li {
  line-height: 18px;
  height: 24px;
}
  body #top-banner .navbar-nav li a,
  body #top-banner .navbar-nav li a:link,
  body #top-banner .navbar-nav li a:visited {
    line-height: 18px;
    height: 24px;
    color: white;
    text-decoration: none;
    padding: 0;
    margin-right: 15px;
  }

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}

body #top-banner .navbar-nav li {
  margin-right: 15px;
}

  body #top-banner .navbar-nav li::after {
    content: '|';
    text-decoration: none;
    float: right;
    position: relative;
    top: -25px;
  }

  body #top-banner .navbar-nav li:first-child::after,
  body #top-banner .navbar-nav li:last-child::after {
    content: '';
    position: static;
  }



  body #top-banner .navbar-nav li a:hover {
    background: transparent;
    text-decoration: underline;
  }



  body #top-banner .navbar-nav li:first-child {
    padding-right: 15px;
  }



  body #top-banner .navbar-nav li:last-child a {
    padding-right: 0px;
  }



    body #top-banner .navbar-nav li:last-child a::after {
      content: '';
      padding-left: 0;
    }



body #top-banner .navbar-right {
  margin-right: 0 !important;
}



body #top-banner .navbar-left {
  margin-left: 0 !important;
}



body #top-banner #access-nav ul {
  text-align: right;
}
/* end of body styles*/

details {
  color: #363636;
  margin-top: 15px;
}

  /*details[open] {
    background: #E1E1E1;
  }*/
summary {
  content: '\23f7';
  font-size: 20px;
  font-weight: 700;
  color: #990000;
}

  
  summary::-webkit-details-marker {
    display: none
  }
  summary::after {
    content: '\23f7';
  }

details[open] summary:after {
  content: '\23f4';
}

  summary:after {
    color: #000;
    font-size: .8em;
    font-weight: bold;
    padding: 0;
    margin-left: 5px;
    vertical-align: text-bottom;
  }

p {
  font-size: .8em;
}

.leftborder {
  border-left: #fff 15px solid;
}


.added {
  background-color: #ddffdd;
}

.changed {
  background-color: #fffae4;
}

.deleted {
  background-color: rgb(252, 216, 217);
  /*  text-decoration: line-through; */
}

/** End of styles for Diff page  */

.currentBox {
  border: 1px green solid;
  color: green;
  border-radius:3px;
  padding: 0px 5px 0px 4px;
  font-size:10px;
  vertical-align:middle;
}

.prevVerHeader {
  border: 0;
  border-bottom:3px #990000 solid;
  padding:0px;
  border-left:15px white solid;
}

.preVerDropDown {
  border: none;
  background-color: transparent;
  font-size: 20px;
}

.grayText {
  color: gray;
}
