<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Detail Page</title>
</head>
<body class="pointer">

  <br />

  <table class="table table-hover contactSection">

    <thead (click)="showThisSection[SECT.GENINFO] = !showThisSection[SECT.GENINFO]">
      <tr>
        <td align="center" colspan="7">
          <a><h4><b>GENERAL INFO</b></h4></a>
        </td>
      </tr>
    </thead>

    <tbody *ngIf="showThisSection[SECT.GENINFO]">
      <tr>
        <th>
          <b>Semester</b>
        </th>
        <th>
          <b>Session</b>
        </th>
        <th>
          <b>School</b>
        </th>
        <th>
          <b>Department</b>
        </th>
        <th>
          <b>Contact</b>
        </th>
        <th>
          <b>Phone</b>
        </th>
        <th>
          <b>Email</b>
        </th>
      </tr>
      <tr>

        <td>{{ session.academicTerm.name }}</td>

        <td>{{ session.code.sessionCode }}</td>

        <td>{{ requestInfo.owningSchool }}</td>

        <td>{{ requestInfo.owningDepartment }}</td>

        <td>{{ requestInfo.userContact }}</td>

        <td>{{ requestInfo.userPhone }}</td>

        <td>{{ requestInfo.userEmail }}</td>

      </tr>
    </tbody>
  </table>

  <table class="table table-hover table-bordered datesSection">
    <thead>
      <tr (click)="showThisSection[SECT.DATES] = !showThisSection[SECT.DATES]">
        <td colspan="6" align="center">
          <a><h4><b>DATES</b></h4></a>
        </td>
      </tr>
    </thead>
    <tbody *ngIf="showThisSection[SECT.DATES]">
      <tr>
        <td colspan="2" align="center">
          <b>Last Day Add/Drop:</b>&nbsp;&nbsp;{{ computedDates.lastDayForAddDrop | date:"MMM dd, yyyy" }}
        </td>
        <td colspan="2" align="center">
          <b>Last day Withdraw:</b>&nbsp;&nbsp;{{ computedDates.lastDayForWithdrawal | date:"MMM dd, yyyy" }}
        </td>
        <td colspan="2" align="center">
          <b>Last day for Enrollment Change:</b>&nbsp;&nbsp;{{ computedDates.lastDayForEnrollmentChange | date:"MMM dd, yyyy" }}
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;
        </td>

        <th><b>Classes</b></th>

        <th><b>Session Break 1</b></th>

        <th><b>Session Break 2</b></th>

        <td><b>Finals</b></td>

        <td><b>Final Grades</b></td>

      </tr>
      <tr>
        <th>
          <b>Start</b>
        </th>
        <td>
          {{ session.dates.firstDayOfClass | date:"MMM dd, yyyy" }}
        </td>
        <td>
          {{ session.dates.sessionBreaks[0] ? (session.dates.sessionBreaks[0].startDate | date:"MMM dd, yyyy") : '' }}
        </td>
        <td>
          {{ session.dates.sessionBreaks[1] ? (session.dates.sessionBreaks[1].startDate | date:"MMM dd, yyyy") : '' }}
        </td>
        <td>
          {{ session.dates.firstDayOfFinals | date:"MMM dd, yyyy" }}
        </td>
        <td>
          {{ computedDates.firstDayForFinalGrading | date:"MMM dd, yyyy" }}
        </td>
      </tr>
      <tr>
        <th>
          <b>End</b>
        </th>
        <td>
          {{ session.dates.lastDayOfClass | date: "MMM dd, yyyy" }}
        </td>
        <td>
          {{ session.dates.sessionBreaks[0] ? (session.dates.sessionBreaks[0].endDate | date:"MMM dd, yyyy") : '' }}
        </td>
        <td>
          {{ session.dates.sessionBreaks[1] ? (session.dates.sessionBreaks[1].endDate | date:"MMM dd, yyyy") : '' }}
        </td>
        <td>
          {{ session.dates.lastDayOfFinals | date:"MMM dd, yyyy" }}
        </td>
        <td>
          {{ computedDates.lastDayForFinalGrading | date:"MMM dd, yyyy" }}
        </td>
      </tr>
    </tbody>
  </table>

  <table class="table table-hover classSection">
    <tr>
      <td colspan="3" align="center" (click)="showThisSection[SECT.CLASSLOCS] = !showThisSection[SECT.CLASSLOCS]">
        <a><h4><b>CLASS LOCATIONS</b></h4></a>
      </td>
    </tr>
    <tbody *ngIf="showThisSection[SECT.CLASSLOCS]">
      <tr>
        <th>Campus</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
      <tr *ngFor="let eachLocation of session.classLocations">
        <td>
          {{ eachLocation.code.campusName }}
        </td>
        <td>
          {{ eachLocation.startDate | date:"MMM dd, yyyy" }}
        </td>
        <td>
          {{ eachLocation.endDate | date:"MMM dd, yyyy" }}
        </td>
      </tr>
  </table>

  <table class="table table-bordered table-hover" id="ratesSection">
    <thead>
      <tr (click)="showThisSection[SECT.RATES] = !showThisSection[SECT.RATES]">
        <td colspan="7" align="center">
          <a><h4><b>RATES</b></h4></a>
        </td>
      </tr>
    </thead>
    <tbody *ngIf="showThisSection[SECT.RATES]">
      <tr>
        <td rowspan="2" align="center">
          <b>Rate Type</b>
        </td>
        <td rowspan="2" align="center">
          <b>Rate per Unit</b>
        </td>
        <td rowspan="2" align="center">
          <b>Flat Rate</b>
        </td>
        <td colspan="2" align="center">
          <b>Undergraduate Flat Rate Unit Range</b>
        </td>
        <td colspan="2" align="center">
          <b>Graduate Flat Rate Unit Range</b>
        </td>
      </tr>
      <tr class="red">
        <td align="center"><b>Minimum</b></td>
        <td align="center"><b>Maximum</b></td>
        <td align="center"><b>Minimum</b></td>
        <td align="center"><b>Maximum</b></td>
      </tr>
      <tr class="black">
        <td align="center">{{ session.rateType.description }}</td>
        <td align="center">{{ session.rateType.unitRate }}</td>
        <td align="center">{{ session.rateType.flatRate }}</td>
        <td align="center">{{ session.rateType.flatRateUnitRange.graduate.minimum }}</td>
        <td align="center">{{ session.rateType.flatRateUnitRange.graduate.maximum }}</td>
        <td align="center">{{ session.rateType.flatRateUnitRange.undergraduate.minimum }}</td>
        <td align="center">{{ session.rateType.flatRateUnitRange.undergraduate.minimum }}</td>
      </tr>
    <tbody>
  </table>

  <table class="table table-hover specialFeeSection">
    <thead>
      <tr (click)="showThisSection[SECT.SPECFEES] = !showThisSection[SECT.SPECFEES]">
        <td colspan="4" align="center">
          <a><h4><b>SPECIAL FEES</b></h4></a>
        </td>
      </tr>
    </thead>
    <tbody *ngIf="showThisSection[SECT.SPECFEES]">
      <tr>
        <th>Fee Code</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Population</th>
        <th>Enrollment</th>
      </tr>
      <tr *ngFor="let eachFee of session.specialFees">
        <td>
          {{ eachFee.fee.code }}
        </td>
        <td>
          {{ eachFee.fee.name }}
        </td>
        <td>
          {{ eachFee.amount }}
        </td>
        <td>
          {{ eachFee.gradeLevel.name }}
        </td>
        <td>
          {{ eachFee.enrollType.name }}
        </td>
      </tr>
    </tbody>
  </table>


  <table class="table" id="commentsSection">
    <tr>
      <td align="center">
        <h4>
          <a (click)="showThisSection[SECT.COMMENTS] = !showThisSection[SECT.COMMENTS]">
            <b>COMMENTS</b>
          </a>
        </h4>
      </td>
    </tr>
    <tr *ngIf="showThisSection[SECT.COMMENTS]">
      <td>{{ session.comments }}</td>
    </tr>
  </table>

  <table width="100%">
    <tr>
      <td align="center">
        <input type="submit" value="Submit">
      </td>
    </tr>
  </table>
  <br/>
  <br/>
</body>
</html>
